name: Code coverage
on: [push, pull_request]
env:
  CARGO_TERM_COLOR: always
  LLVM_PROFILE_FILE: rsql-%p-%m.profraw
  RUST_BACKTRACE: 1
  RUST_LOG: "info"
  RUST_LOG_SPAN_EVENTS: full
  RUSTFLAGS: "-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests"
  RUSTDOCFLAGS: "-Cpanic=abort"
  CARGO_INCREMENTAL: 0

jobs:
  codecov:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: "llvm-tools-preview"

      - name: Install grcov
        uses: taiki-e/install-action@main
        with:
          tool: grcov

      - name: Running tests
        run: |
          cargo test

      - name: Generate coverage reports
        run: |
          grcov . \
            -s . \
            --branch \
            --ignore-not-existing \
            --ignore='target/*' \
            --ignore='examples/*' \
            --excl-line='#\[derive' \
            --ignore='/*' \
            --binary-path ./target/debug/ \
            -t lcov \
            -o lcov.info

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
